<div class="screen">
    <header>
        <h1>¿Qué haremos hoy?</h1>
        <h2>Selecciona una tarea</h2>
    </header>
    <div class="task-container">
        <div class="task-card">
            <img src="https://img.icons8.com/ios-filled/50/000000/product.png" alt="Icono Gestionar Productos">
            <h3>Gestionar Planes</h3>
            <a [routerLink]="['/GestionarProductos']" href="#">Learn more &rarr;</a>
        </div>
        <div class="task-card">
            <img src="https://img.icons8.com/ios-filled/50/000000/report-card.png" alt="Icono Generar Reportes">
            <h3>Gestionar Reportes</h3>
            <a [routerLink]="['/GenerarReportes']" href="#">Learn more &rarr;</a>
        </div>
        <div class="task-card">
            <img src="https://img.icons8.com/ios-filled/50/000000/ok.png" alt="Icono Aprobar Cotización">
            <h3>Aprobar Cotización</h3>
            <a [routerLink]="['/AprobarCotizacion']" href="#">Learn more &rarr;</a>
        </div>
        <div class="task-card">
            <img src="https://img.icons8.com/ios-filled/50/000000/delete-file.png" alt="Icono Eliminar Cotización">
            <h3>Eliminar Cotización</h3>
            <a [routerLink]="['/EliminarCotizacion']" href="#">Learn more &rarr;</a>
        </div>
        <div class="task-card">
            <img src="https://img.icons8.com/ios-filled/50/000000/admin-settings-male.png" alt="Icono Gestionar Usuarios">
            <h3>Gestionar Usuarios</h3>
            <a [routerLink]="['/GestionarUsuarios']" href="#">Learn more &rarr;</a>
        </div>
        
        <div class="task-card">
            <img src="https://img.icons8.com/ios-filled/50/000000/sales-performance.png" alt="Icono Generar Reporte de Ventas">
            <h3>Generar Reporte</h3>
            <a [routerLink]="['/ReporteVentas']" href="#">Learn more &rarr;</a>
        </div>
    </div>
</div>
