    <div class="container">
        <div class="table-container">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Clientes</h2>
                <div class="search-box">
                    <input class="form-control" type="text" placeholder="Search">
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido P.</th>
                        <th scope="col">Apellido M.</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Correo Electrónico</th>
                        <th scope="col">Código Postal</th>
                        <th scope="col">Localidad</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cotizacion of cotizaciones">
                        <td>{{ cotizacion.nombre }}</td>
                        <td>{{ cotizacion.apellidopa }}</td>
                        <td>{{ cotizacion.apellidoma }}</td>
                        <td>{{ cotizacion.felefono }}</td>
                        <td>{{ cotizacion.celular }}</td>
                        <td>{{ cotizacion.email }}</td>
                        <td>{{ cotizacion.codigopostal }}</td>
                        <td>{{ cotizacion.localidad }}</td>
                        <td>{{ cotizacion.municipio }}</td>
                        <td>{{ cotizacion.estado }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>