<div class="container mt-5">
    <h2>Crear Cotización</h2>
    <form #cotizacionForm="ngForm">
        <div class="card mb-4">
            <div class="card-header">
                <h2>Detalle Cliente</h2>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="cotizacion.nombre" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="apellidoPaterno">Apellido Paterno</label>
                        <input type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno" placeholder="Apellido Paterno" [(ngModel)]="cotizacion.apellidopa" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="apellidoMaterno">Apellido Materno</label>
                        <input type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno" placeholder="Apellido Materno" [(ngModel)]="cotizacion.apellidoma" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="telefono">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="52 123 456 7891" [(ngModel)]="cotizacion.felefono" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="celular">Celular</label>
                        <input type="text" class="form-control" id="celular" name="celular" placeholder="272 489 4477" [(ngModel)]="cotizacion.celular" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="example@etesla.mx" [(ngModel)]="cotizacion.email" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="codigoPostal">Código Postal</label>
                        <input type="text" class="form-control" id="codigoPostal" name="codigoPostal" placeholder="Código Postal" [(ngModel)]="cotizacion.codigopostal" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="localidad">Localidad</label>
                        <input type="text" class="form-control" id="localidad" name="localidad" placeholder="Localidad" [(ngModel)]="cotizacion.localidad" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="municipio">Municipio</label>
                        <input type="text" class="form-control" id="municipio" name="municipio" placeholder="Municipio" [(ngModel)]="cotizacion.municipio" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="estado">Estado</label>
                        <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado" [(ngModel)]="cotizacion.estado" required>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-spacing" (click)="crearCotizacion()">Guardar</button>
                <button type="button" class="btn btn-danger btn-last-spacing" (click)="resetForm()">Cancelar</button>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h2>Datos de Consumo</h2>
            </div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="bKw">B (kWh):</label>
                      <input type="text" class="form-control" id="bKw" name="bKw" placeholder="Placeholder" [(ngModel)]="cotizacion.bkWh" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="iKw">I (kWh):</label>
                      <input type="text" class="form-control" id="iKw" name="iKw" placeholder="Placeholder" [(ngModel)]="cotizacion.ikWh" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="pKw">P (kWh):</label>
                      <input type="text" class="form-control" id="pKw" name="pKw" placeholder="Placeholder" [(ngModel)]="cotizacion.pkWh" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="pTransmision">P. Transmisión:</label>
                      <input type="text" class="form-control" id="pTransmision" name="pTransmision" placeholder="Placeholder" [(ngModel)]="cotizacion.ptranmision" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="cMxKw">C (mxn/kW):</label>
                      <input type="text" class="form-control" id="cMxKw" name="cMxKw" placeholder="Placeholder" [(ngModel)]="cotizacion.cmxnkW" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="dMxKw">D (mxn/kW):</label>
                      <input type="text" class="form-control" id="dMxKw" name="dMxKw" placeholder="Placeholder" [(ngModel)]="cotizacion.dmxnkW" required>
                    </div>
                  </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-spacing" (click)="cargarDatosResidencial()">Residencial</button>
                <button type="button" class="btn btn-primary btn-spacing">Comercial</button>
                <button type="button" class="btn btn-primary btn-last-spacing">Industrial</button>
            </div>
        </div>
    </form>
</div>
