<div class="title-container">
    <h2 class="decorated-title">Plan Residencial</h2>
</div>
<div class="content">
    <div class="left-section">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" [(ngModel)]="cotizacion.nombre" placeholder="Placeholder">
        </div>
    </div>

    <div class="right-section">
        <div class="grid">
            <div class="form-group">
                <label>B (kWh):</label>
                <input type="text" [(ngModel)]="cotizacion.bkWh" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>I (kWh):</label>
                <input type="text" [(ngModel)]="cotizacion.ikWh" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>P (kWh):</label>
                <input type="text" [(ngModel)]="cotizacion.pkWh" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>P. Transmisión:</label>
                <input type="text" [(ngModel)]="cotizacion.ptranmision" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>C (mxn/kW):</label>
                <input type="text" [(ngModel)]="cotizacion.cmxnkW" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>D (mxn/kW):</label>
                <input type="text" [(ngModel)]="cotizacion.dmxnkW" placeholder="Placeholder">
            </div>
        </div>
    </div>
</div>

<div class="button-group">
    <button class="update-button" (click)="actualizarCotizacion()">Actualizar</button>
    <button class="cancel-button" (click)="onCancel()">Cancelar</button>
</div>
